* {
    margin: 0;
    padding: 0;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 1280px;
    height: 189px;
    margin: 63px 0 49px 0;

}
.title  {
    text-decoration: none;
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
}
.title-style {
    text-decoration: none;
   color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    background-color: #35444f;
    font-family: Roboto;
    list-style: none;
 }
.nav-item {
    padding: 24px 32px 19px;
    border-left: 1px solid #fff;
}
.nav-link {
    color: white;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.13px;
    text-decoration: none;
}
.other{
    border-right: 1px solid white;
}
.nav-item:hover{
    transition: 0.5s;
    background: #222F3A;
}
.container {
    width: 1283px;
    display: flex;
    gap: 52px;
}
.menu {
    list-style: none;
    width:344px;
    border: 1px solid #63696E7A;
}
.menu-list:hover {
    background-color: #DBDBDB;
    color: black;
    padding-left: 70px;
    font-size: 27px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 27px;
    transition: 0.5s;
}

.menu-list {
    padding: 26px 0 26px 44px;
    font-size: 27px;
    line-height: 27px;
}
.list-style {
    color: #485863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border: 1px solid #63696E7A;
    padding: 78px 280px;
}

.text-top {
    margin-top: 38px;
    font-family:Roboto;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}
.text-bottom {
    margin-top: 10px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}
.footer {
    width: 1283px;
    background-color: #63696E7A;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}
.footer-item {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
   list-style: none;
}
.footer-link, .copyright-text {
        color: #0C1927;
        font-size: 28px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 28px;
        text-decoration: none;
        list-style: none;
    }

.Copyright {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
.footer-link:hover {
    color: #3181A6;
    font-size: 28px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 28px;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
    text-decoration: none;
    list-style: none;
}

